@model Events.Models.EventDetailsViewModel

@if (Model.Description != null)
{
    <div class="description">Description: @Model.Description</div>
}

@if (Model.Comments.Any())
{
    @:Comments:
    <ul>
        @foreach (var comment in Model.Comments)
        {
            <li>
                @comment.Text
                @if (@comment.Author != null)
                {
                    @: (by @comment.Author)
                }
            </li>
        }
    </ul>
}
else
{
    <p>No comments</p>
}

@if (ViewBag.hasPermission)
{
    <div style="float: left">
        @Html.ActionLink("Edit", "Edit", "Event", new { id = Model.Id }, new { @class = "btn btn-default" })

        @Html.ActionLink("Delete", "Delete", "Event", new { id = Model.Id }, new { @class = "btn btn-default" })
    </div>
}
