@model  IEnumerable<EventViewModels>

@{
    ViewBag.Title = "My Events";
}

<h1>My Events</h1>

<div class="row">
    @if (Model.Any())
    {
        foreach (var post in Model)
        {
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="event-box">
                    <h2>@post.Title</h2>
                    <span class="date">@post.StartDate</span>
                    @if (post.Duration != null)
                    {
                        <span class="duration">(@post.Duration.Value.ToString(@"hh\:mm") hours)</span>
                    }
                    @if (post.Author != null)
                    {
                        <div class="author">Author: @post.Author</div>
                    }
                    @if (post.Location != null)
                    {
                        <div class="location">Location: @post.Location</div>
                    }
                </div>
                <div id="event-details-@post.Id">
                    @Ajax.ActionLink("View Details", "EventDetails", "Home",
                new { id = post.Id },
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "event-details-" + post.Id
                }, new { @class = "btn btn-default" })
                </div>
            </div>
        }
    }
    else
    {
        <h1>No Comming Events</h1>
    }
</div>

@section scripts{
    @Scripts.Render("~/bundles/ajax")
}
